@model SportsStore.Models.ProductListViewModel

@{
    ViewBag.Title = "Index";
}

@foreach (var p in Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        @p.Category
        <h4>@p.Price.ToString("C")</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
